<!DOCTYPE HTML>
<html>
    <head>
        <title>Live Vehicle Map</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
        <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

        <link rel="stylesheet" href="static/main.css" />
        <script type="text/javascript">
            var mapbox_key = '{{ mapbox_key }}';
        </script>
        <script type="text/javascript" src="static/main.js"></script>
    </head>
    <body>
        <div id="header" class="overlay">
            <h1>Live Vehicle Map</h1>
        </div>

        <div id="live-map"></div>

        <div id="footer" class="overlay">
            <div id="log"></div>
        </div>
    </body>
</html>
